* {
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: grid;
    grid-template-rows: 1.5fr 7fr 1.5fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'header header'
    'main aside'
    'footer footer';
    background-color: #00aae4;
    justify-content: space-between;
}

.item-1 {
    grid-area: header;
}
.item-2 {
    grid-area:main;
}
.item-3 {
    grid-area: aside;
}
.item-4 {
    grid-area: footer;
}
.li {
    margin: 15px;
}

@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    #iframe {
        width: 85vw;
    }
}